main {
    font-family: 'Poppins', sans-serif;

}
.nav-logo {
    width:300px; padding: 10px;
}
.front-logo {
    width: 500px;
}
.mega-sale {
    font-size: 320%;
}
.mega-sale-link {
    display: block;
    color: white;
    background-image: linear-gradient(45deg, #b21f1f, #fdbb2d);
}
span {
    color: rgba(255, 68, 0, 0.782);
}
.product-footer {
    border: 0;
    background-color: white;
}
.card-side {
    background-image: linear-gradient(45deg,#03001e,#7303c0,#ec38bc,#fdeff9);
}
#contact {
    height: 400px;
}
.copyright img {
    width: 30px;
    margin-bottom: 10px;
}
footer {
    background-image: linear-gradient(90deg,#0c2189,#00d4ff);
    color: white;
    box-shadow: 10px 10px 40px gray;
}
#footer-highlight {
    color: yellow;
}